---
import Layout from '@/layouts/Layout.astro'
import Section from '@/components/Section.astro'
---

<Layout title="Example Scroll Page Animation">
  <main class="flex flex-col gap-[10dvh]">
    <Section />
    <Section />
    <Section />
    <Section />
    <Section />
    <Section />
  </main>
</Layout>
