---
import Layout from '@/layouts/Layout.astro'
import Section from '@/components/Section.astro'
---

<Layout title="Example Scroll Page Animation">
  <ul class="ml-32 list-disc">
    <li>
      <a
        href="/example-1"
        class="bold text-md text-blue-500 underline"
        >Example 1</a
      >
    </li>
    <li>
      <a
        href="/example-2"
        class="bold text-md text-blue-500 underline"
        >Example 2</a
      >
    </li>
  </ul>
</Layout>
