---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  image: ImageMetadata
}

const { image } = Astro.props
---

<section
  class="group relative grid grid-cols-2"
  data-animate="section"
>
  <div
    class="sticky top-0 ml-auto flex max-w-xl flex-col justify-center space-y-16 self-start p-56 text-white group-even:order-last group-even:ml-0"
  >
    <slot />
    <h2 class="text-lg font-bold">Dolor aliquip laboris</h2>
    <p>
      Nisi dolor labore quis est reprehenderit. Ex aliqua
      laboris nisi mollit consectetur exercitation enim aute
      proident fugiat sunt. Consectetur culpa ea dolor
      culpa. Ea commodo ullamco ex ea amet nostrud amet
      ipsum ad mollit occaecat anim. Velit est pariatur
      excepteur irure eu esse officia nulla non. Dolore ea
      aute labore excepteur ad. Dolor dolor labore do
      pariatur excepteur duis cillum duis Lorem id occaecat
      aliquip excepteur.
    </p>
    <p>
      Nisi dolor labore quis est reprehenderit. Ex aliqua
      laboris nisi mollit consectetur exercitation enim aute
      proident fugiat sunt. Consectetur culpa ea dolor
      culpa. Ea commodo ullamco ex ea amet nostrud amet
      ipsum ad mollit occaecat anim. Velit est pariatur
      excepteur irure eu esse officia nulla non. Dolore ea
      aute labore excepteur ad. Dolor dolor labore do
      pariatur excepteur duis cillum duis Lorem id occaecat
      aliquip excepteur.
    </p>
  </div>
  <div class="relative min-h-[150dvh]">
    <Image
      src={image}
      alt=""
      class="sticky inset-0 h-dvh w-full bg-black/20 object-cover"
    />
  </div>
</section>
